@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Martel+Sans:wght@200;600;700&display=swap');

:root {
    --cor-background: #040405;
    --cor-topo: #010101;
    --cor-botao: #990b12;
    --cor-hover: #680b0f;
    --cor-textos: #FFF5DA;

    --font-titulos: 'Bebas Neue', 'sans serif';
    --font-base: 'Martel Sans'

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-background);
    color: var(--cor-textos);
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 180px;

}

.cabecalho {
    display: flex;
    background-color: var(--cor-topo);
    justify-content: center;
}

.cabecalho__conteudo {
    display: flex;
    padding: 10px;
}

.logo-netflix {
    width: 90px;
    position: relative;
    left: 70px;
}

.apresentacao__conteudo {
    display: flex;
    align-items: center;
    text-align: center;
}

.apresentacao__conteudo__link {
    display: flex;
    white-space: nowrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.cabecalho__logo {
    width: 60%;
    margin: 10px;

}

a {
    text-decoration: none;
    color: var(--cor-textos);
    font-family: var(--font-titulos);

}

.apresentacao__conteudo__link__btn {
    background-color: var(--cor-botao);
    padding: 3%;
    border-radius: 4px;
}

.apresentacao__conteudo__link__btn:hover {
    background-color: var(--cor-hover);

}

.banner__01 {
    padding: 5%;
    width: 42%;
    display: flex;
    flex-direction: column;
}

.banner__01 h1 {
    font-family: var(--font-titulos);
    font-size: 50px;
}

.banner__carrossel01 {
    padding: 60px;
}

.banner_carrossel01_ttl {
    padding-bottom: 30px;
    font-family: var(--font-titulos);
}

.banner__carrossel01__imgs {
    display: flex;
    width: 150px;
    height: 150px;
    gap: 30px;
}

.conteudo__foot h3 {
    display: flex;
    padding: 100px;
    position: relative;
    left: 140px;
    font-family: var(--font-base);
}

.conteudo__foot__colunas {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 154px;
    list-style-type: none;
}

.conteudo__foot__col01 {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 25px;
}

.conteudo__foot__col02 {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 25px;
}

.conteudo__foot__col03 {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 25px;
}

.conteudo__foot__col04 {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 25px;
}

.idioma {
    margin: 235px;
    padding: 10px;
    border: 1px solid var(--cor-textos);


}